.bot{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

button{
    cursor: pointer;
    background-color: #9966ff;
    border: 2px solid  #9966ff;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    display: block;
    margin-top: 20px;
    width: 50%;
    justify-content: center;
    position: relative;
}


    